<table class="table table-striped" style="font-size: 13px;">
    <thead>
    <tr>
        <th>Plaza</th>
        <th>Servidor</th>
        <th>Apellidos y nombres</th>
        <th>Contrato</th>
        <th>Cargo</th>
        <th>Inicio</th>
        <th>Fin</th>
        <th>Monto</th>
        <th>Tipo</th>
        <th>Editar</th>
        <th>Adenda</th>
        <th>Reemplazar</th>
        <th>Eliminar</th>
    </tr>
    </thead>
    <tbody>

        {{#each items}}
        <tr id="{{plazaCAS.id}}">
            <td>{{plazaCAS.cod}}</td>
            <td>{{servidor.codigo}}</td>
            <td>{{servidor.paterno}} {{servidor.materno}}, {{servidor.nombre}} </td>
            <td>{{numCont}}</td>
            <td>{{cargoCAS.dsc}}</td>
            <td class="inis"></td>
            <td class="fins"></td>
            <td>{{monto}}</td>
            <td>{{tipo}}</td>
            <td><button class="btn btn-primary"><i class="icon-edit icon-white"></i></button></td>
            <td><button class="btn btn-primary"><i class="icon-plus icon-white"></i></button></td>
            <td><button class="btn btn-primary"><i class="icon-fire icon-white"></i></button></td>
            <td><button class="btn btn-primary delplaza"><i class="icon-trash icon-white"></i></button></td>
        </tr>
        {{/each}}

    </tbody>
</table>
