<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Unidades</h4>
        </div>
        <div class="modal-body" style="max-height: 520px;overflow-y: auto;">
            <link href="resources/css/tree-unidades.css" rel="stylesheet">

            <div class="tree">

                <ul>
                    {{#each items}}
                        <li><a>{{dsc}}</a>

                            <ul>
                                {{#each unidades}}
                                    <li><a>{{udCod}} - {{dsc}}</a>

                                        <ul>
                                            {{#each unidades}}
                                                <li>
                                                    <input value="{{udId}}" type="hidden">
                                                    <a>{{udCod}} - {{dsc}}</a>

                                                </li>
                                            {{/each}}
                                        </ul>
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
                    {{/each}}
                </ul>
            </div>

            <script>
                $(function () {
                    $('.tree li').hide();
                    $('.tree li:first').show();
                });
            </script>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
            <button id="boton-unidad" data-dismiss="modal"  class="btn btn-primary">Seleccionar</button>
        </div>
    </div>
</div>


