<table id="table-familiare-servidor" class="table table-bordered table-hover" style="font-size: 12px;">
    <thead class="header" style="color: #040404;background-color:#f5f5f5">
    <tr>
        <th>Nombre y Apellido</th>
        <th>Domicilio</th>
        <th>Tipo de Parentesco</th>
        <th>Tipo de Documento</th>
        <th>Nº de Documento</th>
        <th>Sexo</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>
    </thead>
    <tbody id="fam_content">

        {{#each items}}
        <tr id="" class="" dataid='{{cargfamsec}}' datatel='{{cargfamtel}}' datatipbenf='{{tipbeneficio}}' dataresol='{{codresol}}' datatitular='{{titularcuenta}}' datatipago='{{tipopago}}' dataparent='{{cargfamidpar}}' datafechnac='{{cargfamfechnac}}' datanumcuen='{{numcuenta}}' datadocum='{{cargfamiddoc}}' databenf='{{cargfamben}}' datadep='{{cargfamdep}}' dataestcivil='{{cargfamrestciv}}' datasegur='{{cargfamnumessal}}'>
            <td>{{cargfamnom}}</td>
            <td>{{cargfamdir}}</td>
            <td>{{cargfampar}}</td>
            <td>{{cargfamdoc}}</td>
            <td>{{cargfamnumdoc}}</td>
            <td>{{cargfamsex}}</td>
            <td><a class="btn btn-warning btn-xs" id="add-observacion"><span class="glyphicon glyphicon-pencil"></span></a> {{numeroObservaciones}}</td>
            <td><a class="btn  btn-danger btn-xs"  id="modalBV" data-toggle="modal"  data-target="#serv-table-modal7"><span  class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
        {{else}}
        <td colspan="6">No existen estudios para este Servidor</td>
        {{/each}}
    </tbody>
</table>
