<table id="table-resoluciones-servidor" class="table table-bordered table-hover" style="font-size: 12px;">
    <thead class="header" style="color: #040404;background-color:#f5f5f5">
    <tr>
        <th>Tipo de Resolucion</th>
        <th>Fecha</th>
        <th>Resolucion</th>
        <th>Reconocimiento Actual</th>
        <th>editar</th>
        <th>eliminar</th>
    </tr>
    </thead>
    <tbody id="fam_content">
    {{#each items}}
        <tr id="{{res_seq_tmp_serv}}" class="">
            <td data='{{res_tipo_cod}}' data1='{{tiemp_serv_id}}' >{{res_tipo_desc}}</td>
            <td>{{res_fecha}}</td>
            <td data={{res_fecha_resol_dfl}}>{{res_id}}</td>
            <td>{{res_anio}}-{{res_mes}}-{{res_dia}}</td>
            <td><a id="upd_tmp_ser" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a id="modalAV2" class="btn btn-danger btn-xs" data-toggle="modal"  data-target="#serv-table-modal8"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    {{else}}
        <td colspan="6">No existen resoluciones para este Servidor</td>
    {{/each}}
    </tbody>
</table>
<style type="text/css">
    #table-resoluciones-servidor_length{
        display:none;
    }

    #table-resoluciones-servidor_paginate{
        position: absolute;
        margin-top: -17px;
        left: 52%;
    }
    #table-resoluciones-servidor_info{
        float: left;
        margin-top: -12px;
        margin-left: 18px;
        font-size: 10px;
        color: rgb(2, 2, 2);
    }
    #fam_content>tr{
        cursor: pointer;
    }

    #table-resoluciones-servidor_previous{
        cursor: pointer;
        display: inline-block;
        padding: 3px 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        -webkit-border-radius: 15px;
        border-radius: 5px;
    }
    #table-resoluciones-servidor_next{
        cursor: pointer;
        margin-left: 19px;
        display: inline-block;
        padding: 3px 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        -webkit-border-radius: 15px;
        border-radius: 5px;
    }


</style>