<table id="table-roles-1" class="table table-bordered table-hover" style="font-size: 14px;" >

    <thead class="header" style="color: #040404;background-color:#f5f5f5">
    <tr>
        <th>Roles</th>
        <th>Elecci&#243;n</th>
    </tr>
    </thead>

    <tbody class="table-data" >
    {{#each items}}
        <tr id="{{id}}" class="" >
            <td >{{description}}</td>
            <td><input id="input{{id}}" class="checks" type="checkbox" value="{{active}}" datar="{{active}}" name="input{{id}}" /></td>
        </tr>
    {{else}}
        <td colspan="6">No se encontraron roles </td>
    {{/each}}
    </tbody>
</table>
<style type="text/css">
    #table-roles-1_length{
        display:none;
    }

    #table-roles-1_paginate{
        position: absolute;
        margin-top: -16px;
        left: 52%;
    }
    #table-roles-1_info{
        float: left;
        margin-top: -12px;
        margin-left: 18px;
        font-size: 10px;
        color: rgb(2, 2, 2);
    }
    #table-roles-1 tr{
        cursor: pointer;
    }



    #table-roles-1_previous{
        cursor: pointer;
        display: inline-block;
        padding: 3px 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        -webkit-border-radius: 15px;
        border-radius: 5px;
    }
    #table-roles-1_next{
        cursor: pointer;
        margin-left: 19px;
        display: inline-block;
        padding: 3px 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        -webkit-border-radius: 15px;
        border-radius: 5px;
    }
</style>