<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Unidades </h4>
</div>

<div class="modal-body">
    <link href="resources/css/tree-unidades.css" rel="stylesheet">

    <div class="tree">

        <ul>
            {{#each items}}
                <li><a style="cursor:pointer;" name="{{udId}}">{{dsc}}</a>

                    <ul>
                        {{#each unidades}}
                            <li><a style="cursor:pointer;" name="{{udId}}">{{udCod}} - {{dsc}}</a>

                                <ul>
                                    {{#each unidades}}
                                        <li><a style="cursor:pointer;" name="{{udId}}">{{udCod}} - {{dsc}}</a>

                                            <ul>
                                                {{#each unidades}}
                                                    <li><a style="cursor:pointer;" name="{{udId}}">{{udCod}} - {{dsc}}</a>

                                                        <ul>
                                                            {{#each unidades}}
                                                                <li><a style="cursor:pointer;" name="{{udId}}">{{udCod}} - {{dsc}}</a>

                                                                </li>
                                                            {{/each}}
                                                        </ul>
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        </li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{/each}}
        </ul>
    </div>

    <script>
        $(function () {
            $('.tree li').hide();
            $('.tree li:first').show();
        });
    </script>
</div>

<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
    <button id="btn_unidad" class="btn btn-primary">Seleccionar</button>
</div>
